form {
  padding: 1rem;
}

input {
  padding: 9px;
  width: 20rem;
  height: 1rem;
  border-color: #ffffff;
  border-radius: 2px;
}

#records-input {
  margin: 2px;
  height: 28px;;
  border: none;
  border-radius: 5px;
  background-color: #808080;
  color: #ffffff;
}


  
select {
    height: 3rem;
    border-radius: 5px;
    margin: 2px;
}