.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div.search {
  color: aliceblue;
  padding-top: 10px;
  font-size: 30px;
  margin: 1opx;
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  color: azure;
}



