.App {
  text-align: center;
  background-color: #585858;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div.search {
  color: aliceblue;
  padding-top: 10px;
  font-size: 30px;
  margin: 1opx;
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  color: azure;
}




/* input {
  width: 20rem;
  height: 2rem;
  border-color: #ffffff;
  
}

select {
  height: 2.4rem;
} */

