.App {
  text-align: center;
  background-color: #585858;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div.search {
  color: aliceblue;
  padding-top: 10px;
  font-size: 30px;
  margin: 1opx;
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  color: azure;
}

button {
  margin: 5px;
  height: 1.8rem;
  width: 7rem;
  border: none;
  border-radius: 5px;
  
}

button:hover {
  background-color: lightslategray;
  border: solid 1px;
  border-color: rgb(97, 138, 200);
}




/* input {
  width: 20rem;
  height: 2rem;
  border-color: #ffffff;
  
}

select {
  height: 2.4rem;
} */

